<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/department/layout :: head"></head>
<body>
<h1>Delete department</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/departments">Department list</a>
</p>
<div id="form">
<form th:action="@{/delete-department}" th:object="${department}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table id="employees">
        <tr>
            <td>Name:</td>
            <td th:text="${department.departmentName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete department"></td>
        </tr>
    </table>
</form>
</div>
<footer th:replace="/department/layout :: footer"></footer>
</body>
</html>