<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/employee/layout :: head"></head>
<body>
<h1>Edit Employee</h1>
<p>
    <a href="/employees">Employee list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
<form th:action="@{/edit-employee}" th:object="${employee}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table id="employees">
        <tr>
            <td>Name :</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>BirthDate:</td>
            <td><input type="text" th:field="*{birthDate}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td><input type="text" th:field="*{gender}"/></td>
        </tr>
        <tr>
            <td>Avatar:</td>
            <td><input type="file" th:field="*{avatar}"/></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input type="text" th:field="*{salary}"/></td>
        </tr>
        <tr>
            <td>Department:</td>
            <td>
                <select name="department">
                    <option th:each="d : ${departments}"
                            th:value="${d.id}"
                            th:text="${d.departmentName}"
                            th:selected="(${d.id} == *{department.id})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</div>
<footer th:replace="/employee/layout :: footer"></footer>
</body>
</html>