<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<html lang="en">
<head th:replace="/employee/layout :: head"></head>
<body>
<a href="/create-employee">Add new employee</a><br>
<a href="/create-department">Add new department</a><br>
<a href="/departments">Go to Department list</a>
<h1>Employees</h1>
<form>
    Search by department:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table id="employees">
    <tr>
        <td>Name</td>
        <td>BirthDate</td>
        <td>Address</td>
        <td>Gender</td>
        <td>Avatar</td>
        <td>Salary</td>
        <td>Department</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="employee:${employees}">
        <tr>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.birthDate}"></td>
            <td th:text="${employee.address}"></td>
            <td th:text="${employee.gender}"></td>
            <td><img width="150px" height="150px" th:src="@{'/i/' + ${employee.avatar}}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.department.departmentName}"></td>
            <td><a th:href="@{/edit-employee/__${employee.id}__}">Update</a></td>
            <td><a th:href="@{/delete-employee/__${employee.id}__}">Delete</a></td>
        </tr>
    </th:block>
    <div id="form">
        <a th:href="@{'/employees'(page=${employees.number - 1})}" th:if="${employees.hasPrevious()}">Previous</a>
        <span th:text="${employees.number + 1}"></span>/<span th:text="${employees.totalPages}"></span>
        <a th:href="@{'/employees'(page=${employees.number + 1})}" th:if="${employees.hasNext()}">Next</a>
    </div>
</table>
<footer th:replace="/employee/layout :: footer"></footer>
</body>
</html>